.Header {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(233, 233, 233);  
}

.Left-part {
  margin-right: auto;
  font-size: 8px;
  margin-left: 20px;
}

.Right-part {
  margin-left: auto;
} 

.input {
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 20px;
  border-radius: 6px;
  border: 1px solid rgb(233, 233, 233);
  background-color: rgb(248, 248, 248);
  width: 200px
}