.main-container {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.homepage {
  flex: 1;  
  background-color: #F4F6F8;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homepage-title {
  margin-left: 25px;
}