.main-container {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.homepage {
  flex: 1;  
  background-color: rgb(164, 255, 191);
  border-radius: 30px;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}